nav {
    font-family        : 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
    background-image   : url('../img/navbar.gif');
    background-position: bottom left;
    background-repeat  : repeat-x;
    border-width       : .1em;
    border-style       : solid;
    border-bottom-width: 0;
    border-top-width   : 0;
    padding-left       : 10%;
    color              : $cape-cod;
    background-color   : $slate-gray;
    border-color       : $dolphin;

    ul {
        width            : 100%;
        overflow         : hidden;
        border-left-width: .1em;
        border-left-style: solid;
        border-color     : $santas-gray;
    }

    li {
        display: inline;

        a {
            display     : block;
            float       : left;
            padding     : .5em 2em;
            border-right: .1em solid;
        }
    }
    a {
      text-decoration: none;
      font-weight    : bold;
    }

}

nav a:link,
nav a:visited {
    color           : $tital-white;
    background-color: transparent;
    border-color    : $santas-gray;
}

nav a:hover {
    color           : $gun-powder;
    background-color: $porche;
}

nav a:active {
    color           : $dolphin;
    background-color: $flax;
}

li.current-menu-item > a {
    color           : $tital-white;
    background-color: $juniper;
}
